body{
    background: url(f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /
}

main{
    width: 500px;
    height: 500px;
}

.espaciojuego
{
    background-color: rgba(202, 155, 247, 0.692);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    height: 80%;
    justify-content: center;
    font-size: 5pc
}

.cuadrado{
    color: black;
    border: 1px solid rgb(84, 196, 122);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadrado:hover{
    color: rgb(140, 42, 165);
}

.bar{
    margin-top: 1em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
}

.estado{
    margin-top: 20px;
    background: rgb(151, 151, 255);
    color: antiquewhite;
    text-align: center;
}

h1{
    color: rgb(132, 82, 155);
    font: size 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.accion{
    display: flex;
    justify-content: center;
    padding: 3px;
}

button{
    padding: 15px 32px;
    color: rgb(3, 3, 3);
    background-color: rgb(52, 99, 99);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: darkblue;
    transition-duration: 0.4s;
}

button:hover{
    background-color: rgb(155, 219, 91);
    color: hotpink;
    cursor: pointer;
}